body {
    background-color: white;
}

#imageOne {
    height: 15rem;
    width: 42.5rem;
    display: block;
}

#imageTwo {
    height: 15rem;
    width: 42.5rem;
    display: block;
    position: absolute;
    top: 1.08rem;
    left: 53.05rem;
}

#imageThree {
    height: 10rem;
    position: absolute;
    top: 3rem;
    left: 48rem;
    background-color: white;
    border-radius: 5rem;
}

#imageFour {
    margin: 1rem;
    margin-top: 1.65rem;
    height: 7rem;
}

#imageFive {
    margin: 1rem;
    margin-top: 1rem;
    height: 3.5rem;
}

#imageSix {
    margin: 1rem;
    margin-top: 1rem;
    height: 7.5rem;

    border-radius: 0.3rem;
}

#imageSeven {
    margin: 1rem;
    margin-top: -0.45rem;
    height: 8rem;
}

#imageEight {
    margin-left: 1rem;
    margin-top: 0rem;
    height: 5rem;
}

#imageNine {
    margin-left: 1rem;
    margin-top: 1rem;
    height: 8.7rem;
}

#ARLLogo {
    height: 7rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

#TutoringLogo {
    height: 7rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

#poster {
    height: 32rem;
    margin-left: 0rem;
    margin-top: 0.5rem;

    border: 0.3rem double black;
}

#htmlOne {
    height: 18rem;
    margin-top: 0rem;
    margin-left: 0rem;

    border: 0.2rem double black;
}

#htmlTwo {
    height: 18rem;
    margin-left: 1rem;

    border: 0.2rem double black;
}

#htmlThree {
    height: 18rem;
    margin-left: 1rem;

    border: 0.2rem double black;
}

#shell {
    height: 10rem;
    border-radius: 4rem;

    position: absolute;
    top: 69rem;
    left: 6rem;
}

#vertical {
    border-left: 0.1rem solid black;
    height: 80rem;

    position: absolute;
    top: 19.8rem;
    left: 75rem;
}

#links {
    font-size: 1.7rem;

    margin-top: -.2rem;
    margin-left: 1rem;
}

#linksList {
    margin-top: -1rem;
    font-size: 0.95rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#skills {
    font-size: 1.7rem;

    margin-top: -.2rem;
    margin-left: 1rem;
}

#skillsList {
    margin-top: -1rem;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#divider {
    width: 18rem;
    border: 0.05rem solid black;
}

#contact {
    font-size: 1.7rem;

    margin-top: -.2rem;
    margin-left: 1rem;
}

#contactList {
    margin-top: -1rem;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

#timeline {
    font-size: 1.7rem;

    margin-top: -.2rem;
    margin-left: 1rem;   
}

#timelineList {
    margin-top: -1.3rem;
    margin-left: 1.3rem;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2rem;

    width: 18rem;
}

h1 {
    font-family: palatino, serif;
    font-size: 2.1rem;
    margin: 1rem;
    font-weight: normal;
}

h2 {
    font-family: palatino, serif;
    margin: 1rem;
    margin-top: 2rem;
    font-size: 2.1rem;
    font-weight: normal;
}

h3, h4, h5 {
    font-family: palatino, serif;
    margin: 1rem;
    margin-top: 2rem;
    font-size: 2.1rem;
    font-weight: normal;
}

hr {
    width: 60rem;
    margin-top: -0.5rem;
    margin-left: 1rem;

    border: 0.05rem solid brown;
}

#sectionOne {
    margin: 3rem auto;
    margin-top: 1rem;
    margin-left: 10rem;

    background-color: rgb(240, 240, 240);
    height: 220rem;
    width: 85rem;

    border: 0.1rem solid silver;
}

#link {
    position: absolute;
    top: 20px;
    right: 3%;
    background-color: white;
    z-index: 10;
    padding: 10px;
    border: 1px solid black;
    max-width: 90%;
}

#projects {
    width: 90rem;
    margin: 1rem;
}

#intro {
    font-size: 1rem;
    margin: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#introUMD {
    position: absolute;
    top: 35.3rem;
    left: 20rem;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#paragraphUMD {
    margin-left: 1rem;
    margin-top: -0.3rem;
    font-size: 0.95rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#UHTitle {
    position: absolute;
    top: 54.4rem;
    left: 32.5rem;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#paragraphUH {
    margin-left: 1rem;
    margin-top: -0.5rem;
    font-size: 0.95rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#introSMA {
    position: absolute;
    top: 69.1rem;
    left: 17.5rem;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#paragraphSMA {
    margin-left: 1rem;
    margin-top: -0.25rem;
    font-size: 0.95rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

#introARL {
    position: absolute;
    top: 156rem;
    left: 21.5rem;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#introTutoring {
    position: absolute;
    top: 166.8rem;
    left: 19rem;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#introGiant {
    position: absolute;
    top: 176.8rem;
    left: 18.8rem;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#introCounseling {
    position: absolute;
    top: 188.5rem;
    left: 16.8rem;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#introALD {
    position: absolute;
    top: 200.3rem;
    left: 18.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#NSLS {
    margin-left: 1rem;
    margin-top: 1rem;
    height: 6.5rem;
}

#introNSLS {
    position: absolute;
    top: 211.5rem;
    left: 18.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:link {
    color: blue;
}

a:visited {
    color: rgba(20, 20, 142, 0.701);
}
